# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/
steps.txt
*.swp
/release.properties
/pom.xml.releaseBackup
/settings.xml
package-lock.json
/src/main/resources/static/built/
/node_modules/
